#app{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
.navbar-nav{
    font-weight: 700;
    font-size: 1.5rem;
}
.navbar-brand{
    font-weight: 700;
    font-size: 1.5rem;
}
.nav-link {
    color: #a95c2b!important;
    margin: 0rem 0rem
}
.nav-link:hover {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

label{
    color:#a95c2b !important;
    font-weight: 700;
    font-size: 1rem;
}
.logotipo{
    width: 12.5rem;
}
.carrito:hover{
    transform: scale(1.5);
}

main{
    display: flex;
    background-color: #c7baba;
    position: relative;
    height: 58rem;
    
}

footer{
    height: 5rem;
    color: #a95c2b;
}

.p{
    font-size: 1.3rem;
    margin: 0rem 1rem;
}


.redes{
    font-size: 2rem;
    color: #a95c2b;
    margin: 0rem 1rem;
}
.redes:hover{
    transform: scale(1.2);
}

@media (min-width: 992px) {
    .collapse{
        justify-content: end !important;
    }
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
  font-family: 'Montserrat', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #5A5A5A;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px #474544;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
  margin-right: 8rem;
  height: 50rem;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

h1 {
  color: #474544;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}
rd
::-webkit-input-placeholder {
	color: #474544;
}

:-moz-placeholder { 
	color: #474544;
	opacity: 1;
}

::-moz-placeholder {
	color: #474544;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #474544;
}

#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #F2F3EB;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  
 
  
  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }
  
  .icon {
    height: 35px;
    width: 35px;
  }
  
  
  
  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
}
.card {
    width: 300px;
    height: 220px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe,
                  -20px -20px 60px #ffffff;
   }
   #container2 {
    position: absolute;  /* Posicionamiento absoluto respecto al contenedor padre */
    bottom: 0 ;  /* Alinea la parte inferior del contenedor con la parte inferior del contenedor padre */
    left: 36%;  /* Centra el elemento horizontalmente */
    transform: translateX(-50%);  /* Ajuste para centrar exactamente en el medio */
    border: solid 3px #474544;
    max-width: 810px;
    margin: 60px auto;
    border-radius: 50px;
    height: 225px;
}

.map-card {
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 50rem;
}
#Texto {
    position: absolute;
    bottom: calc(35%);  /* Coloca el contenedor de texto justo encima del contenedor del mapa */
    left: 35%;  /* Centra el elemento horizontalmente */
    transform: translateX(-50%);  /* Ajuste para centrar exactamente en el medio */
    z-index: 1;  /* Asegura que el texto aparezca encima del contenedor del mapa */
    text-align: center;
}
#confirmation_message {
    display: none;
    color: green; /* Color de texto verde */
}



@media screen and (min-width: 320px) and (max-width: 1024px){
  
.map-card{
  width: 300px;
  align-items: center;
  margin-left: 0.1rem;
}
main{
  height: 90rem;
  width: 320px;
  flex-direction: column;
}
#container2{
  width: 310px;
  margin-left: 3rem;
}
#Texto{
  width: 310px;
  left: 50%; 
  bottom: calc(20%)
}
#Mapa{
  height: 20rem;
}
#container{
  height: 40rem;
}
}
@media screen and (min-width: 769px) and (max-width: 1024px){
  .map-card{
    width: 690px;
    
    margin-left: 0.1rem;
  }
  main{
    height: 100rem;
    width: 769px;
  }
  #container2{
    width: 700px;
    margin-left: 7rem;
  }
  #Texto{
    width: 310px;
    left: 49%; 
    bottom: calc(20%)
  }
  #Mapa{
    height: 20rem;
    width: 690px;
  }
  #container{
    height: 45rem;
    margin-right: 10rem;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1033px){
  .map-card{
    width: 690px;
    margin-left: 0.1rem;
  }
  main{
    height: 70rem;
    width: 1025px;
    flex-direction: column;
  }
  #container2{
    width: 700px;
    margin-left: 7rem;
  }
  #Texto{
    width: 310px;
    left: 25%; 
    bottom: calc(40%)
  }
  #Mapa{
    height: 20rem;
    width: 690px;
  }
  #container{
    height: 45rem;
    margin-right: 3rem;
  }
}
@media screen and (min-width: 1034px) and (max-width: 1440px){
  .map-card{
    width: 800px;
    margin-left: 0.1rem;
  }
  main{
    height: 52.5rem;
    width: 1440px;
  }
  #container2{
    width: 890px;
    margin-left: -5rem;
  }
  #Texto{
    width: 310px;
    left: 30%; 
    bottom: calc(37%)
  }
  #container{
    height: 45rem;
    margin-right: 7rem;
  }
}