.imagenCarrito{
    width: 6rem;
    height: 6rem;
    object-fit: cover;
}

.contenedor-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    border-bottom: 1px solid #c26932f1;
    width: 100%;
}

.item-Uno {
    display: flex;
    align-items: center;
    justify-content: center;
}

.p{
    margin: 0;
    font-size:medium;
}

.total{
    width: 6rem;
}

.modal-footer{
    justify-content: space-around !important;
}

.producto{
    width: 10rem;
    font-weight: 700;
}

@media (min-width: 500px) {
    .contenedor-item {
        flex-direction: row;
        padding-left: 1.5rem;
    }
}