<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />

    <link rel="stylesheet" href="../Estilos/jugueteria.css" />
    <link rel="shortcut icon" href="../Imagenes/favicon.jpg" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <title>PetShop - Jugueteria</title>
</head>

<body>
    <div id="app">

        <!-- <style>
            [v-cloak]>* {
                display: none;
            }

            [v-cloak]::before {
                content: "Buscando...";
                font-size: 3rem;
                color: black;
            }
        </style> -->
        <header>
            <nav class="navbar navbar-expand-lg navfixed">
                <div class="container-fluid">
                    <img src="../Imagenes/logotipo.jpg" alt="logotipo" class="logotipo" />
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav  mb-2 mb-lg-0 align-items-end gap-2">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="../../index.html">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./farmacia.html">Farmacia</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Juguetería</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./contacto.html">Contacto</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link carrito" href="#"><i class="bi bi-cart2"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main class="">
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../Imagenes/perromueble.jpg" class="d-block w-100 h-100" alt="Gato de cumpleaños">
                    </div>
                    <div class="carousel-item">
                        <img src="../Imagenes/panoramicajuguetesgatos.jpg" class="d-block w-100 h-100"
                            alt="Perro corriendo">
                    </div>
                    <div class="carousel-item">
                        <img src="../Imagenes/juguetes.avif" class="d-block w-100 h-100" alt="Imagen 3">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class=" d-flex p-5 align-items-center justify-content-between  color-product">
                <div>
                    <h3 class="texto-productos">Productos destacados</h3>
                    <h6 class="texto-productosparrafo">Descubrí los productos más buscados por nuestros clientes.</h6>

                </div>

                <div class="input-container">
                    <input class="input" id="input-busqueda" type="search"
                        placeholder="Ingrese el producto que desea buscar." v-model.lazy="valueInputSearch" />
                    <label for="input-busqueda">
                        <i @click="filtroBusqueda" id="contenedor-inputbusqueda" class="bi bi-search lupa"
                            style="color: #FFA500"></i>
                    </label>
                </div>
                <!-- <div v-if="modalVisible" class="modal fade" id="modalBuscando" tabindex="-1" role="dialog"
                    aria-labelledby="modalBuscandoLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p class="text-center">{{mensajeBuscando}}</p>
                            </div>
                        </div>
                    </div>
                </div> -->

                <!-- <div v-if="modalVisible" class="modal fade" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body text-center">
                                <p class="text-center">{{mensajeBuscando}}</p>
                            </div>
                        </div>
                    </div>
                </div> -->

            </div>

            <div class="d-flex align-items-center justify-content-around comprar p-2">
                <h6 class="texto-productos-comprar">Selecciona para:</h6>

                <div class="d-flex flex-column align-items-center opcion-compra">
                    <input type="checkbox" name="" id="seleccion-gato" class="d-none" v-on:click="filtroCheck('gato')">
                    <i class=" fas fa-cat fa-2x" style="color: #FFA500;"></i>
                    <label for="seleccion-gato" class="opcion-texto">Gato</label>
                    <!-- <p>{{mensajeBuscando}}</p> -->
                </div>


                <div class="d-flex flex-column align-items-center  opcion-compra">
                    <input type="checkbox" name="" id="seleccion-perro" class="d-none"
                        v-on:click="filtroCheck('perro')">
                    <i class="fa-solid fa-dog fa-2x" style="color: #FFA500;"></i>
                    <label for="seleccion-perro" class="opcion-texto">Perro</label>
                </div>

                <div class="d-flex flex-column align-items-center opcion-compra">
                    <input type="checkbox" name="" id="seleccion-todos" class="d-none" v-on:click="filtroTodos">
                    <i class="fa-solid fa-paw fa-2x" style="color: #FFA500;"></i>
                    <label for="seleccion-todos" class="opcion-texto">Todos</label>
                </div>

            </div>



            <div class="d-flex justify-content-center align-items-center gap-5 flex-wrap p-5 " id="div-cards">
                <!-- Tarjetas de productos -->
                <div v-if="filtroTotal.length == 0">
                    <div class="d-flex justify-content-center align-items-center ">
                        <i class="bi bi-x-lg" style="margin-right: -1rem;"></i>
                        <h5 class="alerta">No se encontraron productos que coincidan con la busqueda</h5>
                        <div class="modal" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Modal title</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Modal body text goes here.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



                <div v-cloak v-for="product of filtroTotal" class="card align-items-center" style="width: 18rem">
                    <img :src="product.imagen" class="card-img-top" :alt="product.producto">
                    <div class="card-body">
                        <h5 class="card-title">{{product.producto}}</h5>
                        <p class="card-text descripcion" data-bs-toggle="modal" data-bs-target="#exampleModal"
                            v-on:click="eventosModal(product._id)">{{product.descripcion}}</p>
                        <div class="d-flex flex-column align-items-center contenedorPrecio justify-content-end">
                            <p class="text-danger" v-if="product.disponibles == 0"> Sin Stock:
                                {{product.disponibles}}
                            </p>
                            <p class="text-danger" v-if="product.disponibles < 5 && product.disponibles > 0"> Stock:
                                {{product.disponibles}} </p>
                            <div class="d-flex justify-content-between gap-5 align-items-center ">
                                <p class="precio">$ {{product.precio}}</p>
                                <button class="button-62" role="button"><i class="bi bi-cart2"></i>Añadir</button>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header justify-content-center">
                                    <img :src="filtrados.imagen" class="card-img-top" :alt="filtrados.producto"
                                        class="width:18rem">
                                </div>
                                <div class="modal-body text-center">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">{{ filtrados.producto }}
                                    </h1>
                                    <p class="descripcionModal">{{ filtrados.descripcion }}</p>
                                    <p class="precio">Precio: ${{ filtrados.precio }}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
    </div>


    <div class="d-flex align-items-center justify-content-around color-fondo">
        <a class="text-decoration-none w-50 " href="./jugueteria.html">
            <h2 class="titulo-jugueteria text-center text-red">Juguetería</h2>
        </a>
        <div class="d-flex justify-content-center contenedor-imagen-jugueteria w-50">
            <img class="imagen-jugueteria" src="../Imagenes/jugueteriacortada.jpg">
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-around color-fondo">
        <div class="d-flex justify-content-center contenedor-imagen-jugueteria w-50">
            <img class="imagen-jugueteria" src="../Imagenes/medicamentos.jpg">
        </div>
        <a class="text-decoration-none w-50 " href="./farmacia.html">
            <h2 class="titulo-jugueteria text-center text-red ">Farmacia</h2>
        </a>

    </div>
    </main>
    <footer class="d-flex justify-content-around align-items-center">
        <div class="d-flex align-items-center resdesFooter">
            <a class="redes"><i class="bi bi-whatsapp"></i></a>
            <a class="redes"><i class="bi bi-facebook"></i></a>
            <a class="redes"><i class="bi bi-instagram"></i></a>
        </div>

        <div>

            <p class="p">&copy;2023 PetShop Dr. Canin</p>
        </div>
    </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../Scripts/jugueteria.js"></script>
</body>

</html>